.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.mainContainer {
    /* margin-top: 200px; */
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(167, 159, 149); 
}